/*Colores*/
@import "colores";
/*GLOBALES*/
html{
    font-size: 62.5%;
}

*{
   margin: 0;
   padding: 0;
}  
body{
    background-color: $primario;
}
h1 , h2 , h3 {
    font-family: $titulo;
}
h1{ font-size: 3rem; 
    text-decoration: underline 0.2rem solid ;
      
}
h2{font-size: 2.2rem;}
h3{font-size: 1.8rem;}
p{
    font-family: $Parrafo;
    font-size: 1.5rem;
}
a{
    color: $negro;
    text-decoration: none;
    font-family: $Parrafo;
    font-size: 1.5rem;
}
@media(min-width: 480px){
    h1{ font-size: 6.4rem;}
    h2{font-size: 5.8rem;}
    h3{font-size: 3.4rem;}
p{
    font-family: $Parrafo;
    font-size: 2.5rem;
}
a{
    color: $negro;
    text-decoration: none;
    font-family: $Parrafo;
    font-size: 3rem;
}
}
.icon{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
svg{
    width: 2rem;
    height: 2rem;
}
@media(min-width: 480px){
    svg{
        width: 4rem;
        height: 4rem;
    }
}

.tm{
    margin-top: 2rem;
}
.centrado{
    text-align: center;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    background-color: $secundario;
    margin-top: 2rem;
}
.nav{
    flex-direction: column;
    background-color: $secundario;
    margin: 2rem 0 2rem 0;
}
.boton{
    list-style: none;
    &:hover{
        background-color: $primario;
    }
}

.nav__alin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
.logo{
   text-align: center;
}

.logo__img{
    width: 20rem;
    height: 20rem;
    align-items: center;
    &:hover{
        animation: animame 1.5s linear infinite;
    }
}
@media(min-width: 320px ){
    #principal{
        width: 30rem;
        height: 30rem;
    }
}
/* Nosotros*/
.nosotros__img {
    max-width: 80%;
    margin: 3rem 10% 3rem 10%;
}
.nosotros__texto{
margin: 2rem 1rem 3rem 1rem;
font-size: 2rem;
}
/*Contacto*/

.formulario{ 
    max-width: 80%;
    margin: 1rem 10% 1rem 10%;
}
.fboton{
    text-align-last: end;
}

/*Galeria*/

.g-img{
    padding: 2rem 1rem 0 1rem;
}


/*Producto*/
.producto{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.producto__titulo{  
    text-align: center;
    margin-bottom: 2rem;
}
.producto__img{
    width: 95%;
    height: 80%;
}

.producto__texto{
    margin-top: -2rem;
   text-align: center;
}

/*Animacion*/
@keyframes animame{
    form{}
    to {
        transform: rotateY(360deg);
    }
}