/*Root*/
:root{
    --primario: #FFF9B6 ;
    --secundario: #FFE699  ;
    --terciario:#e2cb86;
    --titulo: 'Tapestry', cursive; ;
    --Parrafo:'Indie Flower', cursive; ;
    --blanco: #ffff;
    --negro: #000 ;

}
/*GLOBALES*/
html{
    font-size: 62.5%;
}

*{
   margin: 0;
   padding: 0;
}  
body{
    background-color: var(--primario);
}
h1 , h2 , h3 {
    font-family: var(--titulo);
}
h1{ font-size: 3rem; 
    text-decoration: underline 0.2rem solid ;
      
}
h2{font-size: 2.2rem;}
h3{font-size: 1.8rem;}
p{
    font-family: var(--Parrafo);
    font-size: 1.5rem;
}
a{
    color: var(--negro);
    text-decoration: none;
    font-family: var(--Parrafo);
    font-size: 1.5rem;
}
@media(min-width: 480px){
    h1{ font-size: 6.4rem;}
    h2{font-size: 5.8rem;}
    h3{font-size: 3.4rem;}
p{
    font-family: var(--Parrafo);
    font-size: 2.5rem;
}
a{
    color: var(--negro);
    text-decoration: none;
    font-family: var(--Parrafo);
    font-size: 3rem;
}
}
.icon{
    display: flex;  
    flex-direction: column;
    align-items: center;
}
svg{
    width: 2rem;
    height: 2rem;
}
@media(min-width: 480px){
    svg{
        width: 4rem;
        height: 4rem;
    }
}

.tm{
    margin-top: 2rem;
}
.centrado{
    text-align: center;
}
.foot{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secundario);
    margin-top: 1rem;
}
.nav{
    flex-direction: column;
    background-color: var(--secundario);
    margin: 2rem 0 2rem 0;
}
.boton{
    list-style: none;
}
.boton :hover{
    background-color: var(--primario);
}
.nav__alin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
}
.logo{
   text-align: center;
}

.logo__img{
    width: 20rem;
    height: 20rem;
    align-items: center;
}
@media(min-width: 320px ){
    #principal{
        width: 30rem;
        height: 30rem;
    }
}
.logo__img:hover{
    animation: animame 1.5s linear infinite;
}
/* Nosotros*/

.nosotros{
    display: block;
    margin: 1rem;
}

@media(min-width: 1024px){
    .nosotros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
    }
}
.nosotros__img {
    max-width: 80%;
    margin: 3rem 10% 3rem 10%;
}
.nosotros__texto{
margin: 2rem 10% 3rem 10%;
}
/*Contacto*/

.formulario{ 
    max-width: 80rem;
    margin: 1rem 10% 1rem 10%;
}
.fboton{
    text-align-last: end;
}

/*Galeria*/

.galeria{
    display: flex;
    flex-direction: column;
}
.galeria__img{
    width: auto;
    height: auto;
    padding: 2rem 1rem 0 1rem;
}
@media(min-width: 768px){
    .galeria{
        display: grid;
        grid-auto-flow: column;
        margin: auto;
    }
    .galeria__img{
        width: 95%;
        height: 80%;
    }
}

/*Producto*/
.producto{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.producto__titulo{  
    text-align: center;
}
.producto__img{
    width: 95%;
    height: 80%;
}

.producto__texto{
   text-align: center;
}

@media(min-width: 480px){
.producto{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: "titulo  "
                        "texto"
                        "galeria";
}
.producto__galeria{
    grid-area: galeria;
    display:flex;
}
.producto__titulo{
    grid-area: titulo;
}
.producto__texto{
    grid-area: texto;
}
}
/*Animacion*/
@keyframes animame{
    form{}
    to {
        transform: rotateY(360deg);
    }
}